package views 

templ Single(title string) {
	@Base() {
		@Nav()
		<div class="tyfdgs">
			<h2>{ title }</h2>
		</div>
		{ children... }
	}
}

templ SingleNoH2() {
	@Base() {
		@Nav()
		{ children... }
	}
}

templ Error(err error) {
	@Base() {
		<p>{ err.Error() }</p>
		<p>hello</p>
	}
}
