package views 

templ Single(title string) {
	@Base(title) {
		@Nav()
		<div class="tyfdgs">
			<h2>{ title }</h2>
		</div>
		{ children... }
	}
}

templ SingleNoH2(title string) {
	@Base(title) {
		@Nav()
		{ children... }
	}
}

templ Error(err error) {
	@Base("An error happened!") {
		<p>{ err.Error() }</p>
        <p>hello</p>
	}
}
